<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="./static/style.css">
</head>
<body>
	<a href = "/">Home</a> <a href="/login">Log In</a><br>

	Create an account
	<form action = "signups" method="POST">
		{% csrf_token %}
		First Name:<input type="text" name="first_name"><br>
		Last Name:<input type="text" name="last_name"><br>
		E-Mail:<input type="text" name="email"><br>
		Password:<input type="password" name="password"><br>
		Confirm Password<input type="password" name="pw_confirm"><br>
		<select name="position">
	  	<option value="Student">student</option>
	  	<option value="Educator">Educator</option>
	  	</select><br>
	  	<input type="submit" type="Sign Up">
	</form>

	<form id="register-form" action="signups" method="post" role="form">
		<div class="form-group">
			<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
		</div>
		<div class="form-group">
			<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
		</div>
		<div class="form-group">
			<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
		</div>
		<div class="form-group">
			<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
				</div>
			</div>
		</div>
	</form>
</body>
</html>